<mat-card>
  <mat-card-header>
    <mat-card-title>Create/Edit Star Wars</mat-card-title>
  </mat-card-header>
  <form (submit)="saveStarWar(group.value)" [formGroup]="group">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Character Name</mat-label>
        <input
          formControlName="name"
          matInput
          type="text"
          placeholder="Character Name"
          name="character name"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <input
          formControlName="gender"
          matInput
          type="text"
          placeholder="Gender"
          name="gender"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Height</mat-label>
        <input
          formControlName="height"
          matInput
          type="text"
          placeholder="Height"
          name="height"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mass</mat-label>
        <input
          formControlName="mass"
          matInput
          type="text"
          placeholder="Mass"
          name="mass"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Eye Color</mat-label>
        <input
          formControlName="eye_color"
          matInput
          type="text"
          placeholder="Eye Color"
          name="eye color"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Skin Color</mat-label>
        <input
          formControlName="skin_color"
          matInput
          type="text"
          placeholder="Skin Color"
          name="skin color"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birth Year</mat-label>
        <input
          formControlName="birth_year"
          matInput
          type="text"
          placeholder="Birth Year"
          name="birth year"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input
          formControlName="url"
          matInput
          type="text"
          placeholder="URL"
          name="url"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button
        mat-raised-button
        (click)="cancelled.emit()"
        color="accent"
        type="reset"
      >
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
