<mat-card>
  <mat-list>
    <mat-card-title>Drug Products</mat-card-title>
    <mat-list-item
      *ngFor="let drug of drugs"
      class="mat-list-option"
      (click)="selected.emit(drug)"
    >
      <h4 mat-line><strong>Product Name: </strong>{{ drug.product_name }}</h4>
      <p mat-line><strong>Supplier: </strong>{{ drug.supplier }}</p>
      <button
        mat-mini-fab
        color="accent"
        class="mat-pseudo-checkbox"
        (click)="deleted.emit(drug.id)"
      >
        <mat-icon> clear </mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
