<mat-card>
  <mat-list>
    <h3 mat-subheader>Pizzas</h3>
    <mat-list-item
      *ngFor="let pizza of pizzas"
      class="mat-list-option"
      (click)="selected.emit(pizza)"
    >
      <h4 mat-line><strong>Pizza Name: </strong>{{ pizza.pizzaName }}</h4>
      <button
        mat-mini-fab
        color="accent"
        class="mat-pseudo-checkbox"
        (click)="deleted.emit(pizza.id)"
      >
        <mat-icon> clear </mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
