<mat-card>
  <mat-card-header>
    <mat-card-title>Create/Edit Musician</mat-card-title>
  </mat-card-header>
  <form (submit)="saved.emit(currentMusician)">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter full name"
          [(ngModel)]="currentMusician.name"
          name="full name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Instrument</mat-label>
        <input
          matInput
          type="text"
          placeholder="Instrument played"
          [(ngModel)]="currentMusician.instrument"
          name="instrument played"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Style</mat-label>
        <input
          matInput
          type="text"
          placeholder="Style performed"
          [(ngModel)]="currentMusician.style"
          name="style performed"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Year born</mat-label>
          <input
            matInput
            type="text"
            placeholder="Year born"
            [(ngModel)]="currentMusician.year"
            name="year born"
          />
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button
        mat-raised-button
        color="accent"
        (click)="cancelled.emit()"
        type="reset"
      >
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
