<mat-card>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <mat-list>
    <h3 mat-subheader>Star Wars Characters</h3>
    <mat-list-item
      class="mat-list-option"
      *ngFor="let starWar of starWars"
      (click)="selectStarWar(starWar)"
    >
      <h4 mat-line><strong>Character Name: </strong>{{ starWar.name }}</h4>
      <p mat-line><strong>URL: </strong>{{ starWar.url }}</p>
      <button
        mat-mini-fab
        color="accent"
        class="mat-pseudo-checkbox"
        (click)="deleteStarWar(starWar); $event.stopImmediatePropagation()"
      >
        <mat-icon> clear </mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
