<mat-card>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <mat-list>
    <h3 mat-subheader>Cities</h3>
    <mat-list-item
      class="mat-list-option"
      *ngFor="let city of cities"
      (click)="selectCity(city)"
    >
      <h4 mat-line><strong>City Name: </strong>{{ city.name }}</h4>
      <p mat-line><strong>City Population: </strong>{{ city.population }}</p>
      <button
        mat-mini-fab
        color="accent"
        class="mat-pseudo-checkbox"
        (click)="deleteCity(city); $event.stopImmediatePropagation()"
      >
        <mat-icon> clear </mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
